{% load static %}
<div class="navbar">
        <header style="width: 100%; -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);">
            <img src="{% static 'img/logo.png' %}" class="logo" alt="pl-logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="#"><strong>Home</strong></a></li>
                    <li><a href="#" style="color:#B2C9AC"><strong>Databases</strong></a></li>
                    <li><a href="#"><strong>Insight</strong></a></li>
                    <li><a href="#"><strong>Newsletter</strong></a></li>
                    <li><a href="#"><strong>Pricing</strong></a></li>
                    <li><a href="#"><strong>Login</strong></a></li>
                </ul>
            </nav>
            <!-- <a class="cta" href="https://github.com/Ronyonka/fplmanenos" target="_blank"><button>View Repo</button></a> -->
        </header>  
</div>